.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 5px;
  margin-right: 10px;
  width: 350px;
  font-size: 20px;
}

button {
  padding: 5px;
}

.Main {
  text-align: left;
  margin: 30px 200px;
}
.Main pre {
  background: #eee;
  padding: 10px;
  font-size: 18px;
}

.Result {
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 10px;
}
